<mat-card>
  <h2>Weather Overview</h2>

  @if (errorMessage) {
  <div class="error-message">
    <mat-icon>error</mat-icon>
    {{ errorMessage }}
  </div>
  }

  <mat-button-toggle-group [(value)]="selectedLayout" aria-label="View toggle">
    <mat-button-toggle value="table">
      <mat-icon>table_view</mat-icon>
      Table
    </mat-button-toggle>
    <mat-button-toggle value="card">
      <mat-icon>grid_view</mat-icon>
      Card
    </mat-button-toggle>
  </mat-button-toggle-group>


  @if (isLoading) {
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  } @else {
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter cities" />
  </mat-form-field>

  @if (dataSource.filteredData.length === 0) {
  <div class="no-results">No results found</div>
  } @else {

  @if (selectedLayout === 'table') {
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    @for (column of displayedColumns; track column) {
    <ng-container [matColumnDef]="column.id">

      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.label }}
      </th>

      <td mat-cell *matCellDef="let row">
        @if (column.id === 'actions') {
        <mat-icon class="delete-icon" (click)="removeCity(row.city); $event.stopPropagation()">delete</mat-icon>
        } @else {
        {{ row[column.id] ?? '--' }}
        }
      </td>

    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumnIds"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnIds" (click)="onCityClick(row)" class="clickable-row">
    </tr>

  </table>
  }


  @else if (selectedLayout === 'card') {
  <div class="card-grid">
    @for (card of dataSource.filteredData; track card.city) {
    <mat-card class="city-card" (click)="onCityClick(card)">
      <mat-card-header>
        <mat-card-title>{{ card.city }}</mat-card-title>
        <mat-icon class="delete-icon" (click)="removeCity(card.city); $event.stopPropagation()">delete</mat-icon>
      </mat-card-header>
      <mat-card-content>
        @for (column of displayedColumns; track column.id) {
        @if (column.id !== 'city' && column.id !== 'actions') {
        <p><strong>{{ column.label }}:</strong> {{ card[column.id] ?? '--' }}</p>
        }
        }
      </mat-card-content>
    </mat-card>
    }
  </div>
  }
  }
  }

  @if (chartVisible) {
  <div class="chart-container">
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
      [type]="selectedChartType">
    </canvas>
  </div>
  }
</mat-card>
